<div class="header">
  <div class="header-left">
    <div class="logo">
      <span class="logo-icon">Z</span>
      <span class="logo-text">Zentry</span>
    </div>
  </div>
  <div class="header-right">
    <!-- <button class="icon-btn"><i class="fa-solid fa-bell" style="color: rgb(255, 255, 255);"></i></button> -->
    <app-notificaciones class="icon-btn"></app-notificaciones>
    <button class="icon-btn"><i class="fa-solid fa-gear" style="color: rgb(255, 255, 255);"></i></button>
    <div class="user-menu">
      <div class="user-info">
        <div class="user-name">Admin</div>
        <div class="user-role">Administrador RRHH</div>
      </div>
    </div>
  </div>
</div>
